@import 'variables';
// Utility classes for layout
.d-flex { display: flex; }
.flex-column { flex-direction: column; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }

.align-center { align-items: center; }

.d-flex-center { display: flex; justify-content: center; align-items: center; }
.d-flex-start { display: flex; justify-content: start; align-items: center; }
.d-flex-end { display: flex; justify-content: end; align-items: center; }
.d-flex-between { display: flex; justify-content: space-between; align-items: center; }
.w-max-content { width: max-content; }
.w-100 { width: 100%; }
.h-100 { height: 100%; }

// Color classes
.text-white { color: $white; }
.text-light-grey { color: $light-grey; }
.text-grey { color: $grey; }
.text-purple { color: $purple; }

// Font weight
.text-bold { font-weight: bold; }

// Spacing utility classes
.p-2 { padding: $padding-standard; }
.mb-2 { margin-bottom: $padding-standard; }
.mx-2 { margin-left: $padding-standard; margin-right: $padding-standard; }
.mx-3 { margin-left: $padding-standard * 1.5; margin-right: $padding-standard * 1.5; }
.my-3 { margin-top: $padding-standard * 1.5; margin-bottom: $padding-standard * 1.5; }
.my-4 { margin-top: $padding-standard * 2; margin-bottom: $padding-standard * 2; }
.me-3 { margin-right: $padding-standard * 1.5; }
.ms-3 { margin-left: $padding-standard * 1.5; }
